.testimonial_container {
    width: 750px;
}

.testimonial_card {
    background-color: rgb(247, 230, 137);
    border: 2px solid rgb(179, 131, 2);
    padding: 1.5rem 2rem;
    border-bottom: rgb(139, 101, 2);
}

.testimonial_img{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
    border:1px solid rgb(3, 170, 170);
}

.testimonial_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.testimonial_description{
    font-size: var(--small-font-size);
}

/*-------------------- Swiper Class ---------------------*/

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/*---------------------- Breakpoints --------------------*/
/* For Large Devices */
@media screen and (max-width: 992px){
    .testimonial_container{
      width: initial;
    }
   .testimonial_card {
        padding: 1.25rem 1.5rem;
   }
  }
